<div class="paper">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="container-fluid">
                            <div class="login-form-content">
                               <form onsubmit="doSomething();" action="{{BASE_URL}}manage-testact-set/edit/{{id}}" method="POST">
                                 {% csrf_token %}

                                  <div class="form-group">
                                        <label>Action Title</label>
                                         {{ArTestactSetForm_get.member_product_list}}
                                 
                                </div>
                                                                <div class="form-group">
                                    <label>Action Description</label>
                                    {{ArTestactSetForm_get.testact_validation}}
                                </div>
                                                                <div class="form-group">
                                    <label>Test action used in these test stories</label>
                                    {{ArTestactSetForm_get.Use_in}}
                                </div>
                                <div class="form-group">
                                    <label>Scenario list where use</label>
                                    {{ArTestactSetForm_get.member_scenario_list}}
                                </div>


                                
                                 <div class="row">
                                  <div class="col-md-6">
                                    <a href="{{BASE_URL}}manage-testact-set" class="btn-block btn btn-white all-btn" > Cancel</a>
                                  </div>
                                  <div class="col-md-6">
                                <div class="form-group">
                                    <button type="submit" class="btn-block btn btn-white all-btn">Update</button>
                               </div>
                             </div>
                             </div>
                               </form>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>