{% extends 'admin/dashboard-template.html' %}
{% block content %}
{% load static %}
{% block cssstyle %}
<link href='{% static "css/jquery.lwMultiSelect.css" %}'  rel="stylesheet" />
<style type="text/css">
  span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
    width: 100% !important;
}

</style>
    {% endblock %}



<div class="container-fluid text-white">
                  <div class="row p-t-b-8 ">
                  <div class="col">
                     <h1>User Story View</h1>
                  </div>
               </div>
                 <div class="row p-t-b-8">
         <p class="user-nick"> {{user_name}}</p>
  </div>
            </div>
            </header>

<div class="container-fluid">
           
            <div class="row p-t-b-20">
               <div class="col-md-12">
        {% if messages %}
                   {% for message in messages %}
                     {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                    <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
                       {% endif %}

                   {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                     {{message}}
                    </div>
                       {% endif %}

                   {% endfor %}
               {% endif %}
                  <!-- <div class="card no-b"> -->
              <div class="login-form-card">
        
                       
                          <div class="row">
                      <div class="col-md-12 mb-2">
                        <button class="btn-primary add-data"><a href="{{BASE_URL}}user-story-view/add-new" style="text-decoration: none; color: #fff;">Add User Story</a></button>
                        <button class="btn-primary import-data" id="create_user_story_copy">Copy Selected Stories</button>
                        <button  id="show_col" class="btn-primary import-data" data-toggle="modal" data-target="#myModal">Show Columns</button>
                  {% if user_story_view_status %}
                  <button class="btn-primary import-data" data-toggle="modal" onclick="set_data('AR_USER_STORY','user-story-view')" data-target="#myModalImportCSV">Import</button>
                  {% else %}
                  <button class="btn-primary import-data">You don't have permission to import data </button>
                  {% endif %}
                  <button type="button" class="download-button btn-export1 export_data_btn" data-file_type="CSV"><i class="icon-download"></i> </button>
         </div>
              </div>



              <div class="row">
                <div class="col-md-2 text-center">
                        <label id="rollabel" roll="Given " >Filters : </label>
                     </div>
              </div>

               <div class="row">

                           {% if get_show_column|length > 0 %}

  {% for v in get_show_column %}

            {% if v == 'backlog_parent' %}
             <!-- Backlog filter data -->
                      <div class="col-md-3 text-center">
                      <select class="form-control  selectbox typeable_filter" name="testcond" onchange="myFunction()" id="backlog_list">
                        <option value="">Select Backlog</option>
                        {% for data in backlog_data %}
                        {% if backlog_token == data.backlog_slug %}
                        <option selected="" value="backlog-parent={{data.backlog_slug}}">{{data.title}}</option>
                        {% else %}
                        <option value="backlog-parent={{data.backlog_slug}}">{{data.title}}</option>
                        {% endif%}
                        {% endfor %}
                      </select>
                      </div>
                      {% endif%}

                      {% if v == 'BV_ID' %}
                     <!-- Business Value filter data -->
                       <div class="col-md-3 text-center">
                      <select class="form-control  selectbox typeable_filter" name="testcond" onchange="myFunction()" id="business_value_list">
                        <option value="">Select Business Value</option>
                        {% for data in business_value_data %}
                        {% if business_value_token == data.business_value_slug %}
                        <option selected="" value="business-value={{data.business_value_slug}}">{{data.bus_value_txt_code}}</option>
                        {% else %}
                        <option value="business-value={{data.business_value_slug}}">{{data.bus_value_txt_code}}</option>
                        {% endif%}
                        {% endfor %}
                      </select>
                      </div>
                      {% endif%}
                      {% if v == 'user_story_status' %}
                     <!-- User Status filter data -->
                       <div class="col-md-3 text-center">
                      <select class="form-control  selectbox typeable_filter" name="testcond" onchange="myFunction()" id="user_status_list">
                        <option value="">Select User Story Status</option>
                        {% for data in user_status_data %}
                        {% if user_status_token == data.user_status_slug %}
                        <option selected="" value="user-status={{data.user_status_slug}}">{{data.status_key}}</option>
                        {% else %}
                        <option value="user-status={{data.user_status_slug}}">{{data.status_key}}</option>
                        {% endif%}
                        {% endfor %}
                      </select>
                      </div>
                      {% endif%}
                      {% if v == 'UST_ID' %}
                    <!-- User Type filter data -->
                       <div class="col-md-3 text-center">
                      <select class="form-control  selectbox typeable_filter" name="testcond" onchange="myFunction()" id="user_type_list">
                        <option value="">Select User Story Type</option>
                        {% for data in user_type_data %}
                        {% if user_type_token == data.user_type_slug %}
                        <option selected="" value="user-type={{data.user_type_slug}}">{{data.type_key}}</option>
                        {% else %}
                        <option value="user-type={{data.user_type_slug}}">{{data.type_key}}</option>
                        {% endif%}
                        {% endfor %}
                      </select>
                        
                      </div>


                      {% endif%}
                        {% endfor %}

            {% else %}
                      
                     <!-- Backlog filter data -->
                      <div class="col-md-3 text-center">
                      <select class="form-control  selectbox typeable_filter" name="testcond" onchange="myFunction()" id="backlog_list">
                        <option value="">Select Backlog</option>
                        {% for data in backlog_data %}
                        {% if backlog_token == data.backlog_slug %}
                        <option selected="" value="backlog-parent={{data.backlog_slug}}">{{data.title}}</option>
                        {% else %}
                        <option value="backlog-parent={{data.backlog_slug}}">{{data.title}}</option>
                        {% endif%}
                        {% endfor %}
                      </select>
                      </div>
                     <!-- Business Value filter data -->
                       <div class="col-md-3 text-center">
                      <select class="form-control  selectbox typeable_filter" name="testcond" onchange="myFunction()" id="business_value_list">
                        <option value="">Select Business Value</option>
                        {% for data in business_value_data %}
                        {% if business_value_token == data.business_value_slug %}
                        <option selected="" value="business-value={{data.business_value_slug}}">{{data.bus_value_txt_code}}</option>
                        {% else %}
                        <option value="business-value={{data.business_value_slug}}">{{data.bus_value_txt_code}}</option>
                        {% endif%}
                        {% endfor %}
                      </select>
                      </div>
                     <!-- User Status filter data -->
                       <div class="col-md-3 text-center">
                      <select class="form-control  selectbox typeable_filter" name="testcond" onchange="myFunction()" id="user_status_list">
                        <option value="">Select User Stroy Status</option>
                        {% for data in user_status_data %}
                        {% if user_status_token == data.user_status_slug %}
                        <option selected="" value="user-status={{data.user_status_slug}}">{{data.status_key}}</option>
                        {% else %}
                        <option value="user-status={{data.user_status_slug}}">{{data.status_key}}</option>
                        {% endif%}
                        {% endfor %}
                      </select>
                      </div>
                    <!-- User Type filter data -->
                       <div class="col-md-3 text-center">
                      <select class="form-control  selectbox typeable_filter" name="testcond" onchange="myFunction()" id="user_type_list">
                        <option value="">Select User Story Type</option>
                        {% for data in user_type_data %}
                        {% if user_type_token == data.user_type_slug %}
                        <option selected="" value="user-type={{data.user_type_slug}}">{{data.type_key}}</option>
                        {% else %}
                        <option value="user-type={{data.user_type_slug}}">{{data.type_key}}</option>
                        {% endif%}
                        {% endfor %}
                      </select>
                        
                      </div>
{% endif%}
<p><b> Note :-</b> If you do not see the desired filter in the dropdown, then you can choose them in the 'Show Columns' button.</p>

                   </div>

            <div class="table-responsive">
            <!-- <div class="table-responsive hdinpt"> -->
              
                                     <!-- start Table -->
                                     <div id="example_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="example_length"><label>Show <select name="example_length" aria-controls="example" class=""><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div>
                                     <!-- example12  -->
                                     <table id="example" width="auto" border="1" class="table dataTable table-striped table-bordered newpage  no-footer" align="center" cellpadding="0" cellspacing="0" style="font-size: 15px; width: auto; margin:0px;" role="grid" aria-describedby="example_info">
           <thead>
            <tr class="dnd-moved" role="row">
              <th align="left" valign="top">S.No.</th>
 
   
<!--    <th align="left" class="slct" valign="top" draggable="true" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Select: activate to sort column descending" style="width: 57px;">Select</th> -->


<!-- --------------------------------------- -->


    {% if get_show_column|length > 0 %}
        {% for v in get_show_column %}
          <th align="left" class="{{v}}" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{ all_column_list|get_item:v  }}  </th>
          {% endfor %}
           
  {% else %}


           {% for k , v in all_column_list.items %}
          <th align="left" class="{{v}}" valign="top"  tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="US ID: activate to sort column ascending" style="">{{v}}</th>
          {% endfor %}    
            
        
  {% endif %}




   <th align="left" class="action" valign="top" draggable="true" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending">Action</th>
</tr>
        </thead>
                <tbody>


      
            
            {% if get_user_story %}
            {% for data in get_user_story %}

        
        <tr class="dnd-moved odd" role="row">
          <td align="left" valign="top">{{forloop.counter}} <input type="checkbox" class="get_user_story_ids" value="{{data.id}}" name=""></td>



{% if get_show_column|length > 0 %}

  {% for v in get_show_column %}
              


              {% if v == 'backlog_parent' %}

              <td align="left" id="backlog_val" class="backpa" valign="top">
              {{data.backlog_parent}}
              <!-- {{ data.Children_backlog_list}} -->
            </td> 
              {% endif %}

              {% if v == 'owner' %}

              <td align="left" class="backpa" valign="top">
              {{data.owner}}
              <!-- {{ data.Children_backlog_list}} -->
            </td> 
              {% endif %}

              {% if v == 'title' %}
              <td align="left" class="backpa"  valign="top">{{data.title}}</td> 
              {% endif %}

              {% if v == 'story_tri_part_text' %}
              <td align="left" class="backpa" valign="top">{{data.story_tri_part_text}}</td> 
              {% endif %}

              {% if v == 'acceptance_criteria' %}
              <td align="left" class="backpa"  valign="top">{{data.acceptance_criteria}}</td> 
              {% endif %}

              {% if v == 'BV_ID' %}
              <td align="left" class="backpa" id="business_value_val"  valign="top">{{data.BV_ID}}</td> 
              {% endif %}







              {% if v == 'ac_readability_score' %}
              <td align="left" class="backpa"  valign="top"> <div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.ac_readability_score}}" data-duration="1000" data-color=",#d35400"></div>
</div></td> 
              {% endif %}      
             


             {% if v == 'conversation' %}
              <td align="left" class="backpa"  valign="top">{{data.conversation}}</td> 
              {% endif %} 


              {% if v == 'convo_readability_score' %}
              <td align="left" class="backpa"  valign="top"><div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.convo_readability_score}}" data-duration="1000" data-color=",#d35400"></div>
</div></td> 
              {% endif %}


              {% if v == 'attachments' %}
              <td align="left" class="backpa" valign="top">{% if data.attachments == 'None' %}
                 {{data.attachments}}
                {% else %}


            {% for data1 in data.file_attachment.all %}

                <a class="document_name" target="_blank" href="{{data1.attachment.url}}"><img style="height: 36px; white-space: normal;
    word-break: break-all;" src='{% static "img/basic/images.png" %}'>{{data1.attachment}}

  <!-- {{data.attachments}} -->

</a>
{%endfor %}
               
                {% endif %}</td> 
              {% endif %} 


              {% if v == 'autoscoring_on' %}
              <td align="left" class="backpa"  valign="top">{{data.autoscoring_on}}</td> 
              {% endif %}  
         
{% if v == 'archive_indicator' %}
              <td align="left" class="backpa"  valign="top">{{data.archive_indicator}}</td> 
              {% endif %}  
              
              {% if v == 'readiness_quality_score' %}
              <td align="left" class="backpa"  valign="top"><div class="col-md-1 mb20">
                    
   <div class="cdev" data-percent="{{data.readiness_quality_score}}" data-duration="1000" data-color=",#d35400"></div>
</div></td> 
              {% endif %}  

               {% if v == 'story_points' %}
              <td align="left" class="backpa"  valign="top">{{data.story_points}}</td> 
              {% endif %} 
               {% if v == 'user_story_status' %}
              <td align="left" class="backpa" id="user_status_val" valign="top">{{data.user_story_status}}</td> 
              {% endif %} 
               {% if v == 'ORG_id' %}
              <td align="left" class="backpa"  valign="top">{{data.ORG_id}}</td> 
              {% endif %} 
               {% if v == 'UST_ID' %}
              <td align="left" class="backpa" id="user_type_val"  valign="top">{{data.UST_ID}}</td> 
              {% endif %} 
               {% if v == 'ar_user' %}
              <td align="left" class="backpa"  valign="top">{{data.ar_user}}</td> 
              {% endif %} 
               {% if v == 'created_by' %}
              <td align="left" class="backpa"  valign="top">{{data.created_by}}</td> 
              {% endif %} 
               {% if v == 'created_dt' %}
              <td align="left" class="backpa"  valign="top">{{data.created_dt}}</td> 
              {% endif %} 
               {% if v == 'updated_by' %}
              <td align="left" class="backpa"  valign="top">{{data.updated_by}}</td> 
              {% endif %} 
               {% if v == 'updated_dt' %}
              <td align="left" class="backpa"  valign="top">{{data.updated_dt}}</td> 
              {% endif %} 



  {% endfor %}


{% else %}

             <td align="left" class="backpa" id="backlog_val" style="width: 52px;" valign="top">{{data.backlog_parent}}</td>
             <td align="left" class="backpa" id="business_value_val" style="width: 52px;" valign="top">{{data.BV_ID}}</td>


             <td align="left" class="backpa"  style="width: 52px;" valign="top">{{data.owner}}</td>

             <td align="left" class="usid" valign="top" >{{data.title}}</td>
              <td align="left" class="usid"  valign="top">{{data.story_tri_part_text}}</td>
              <td align="left" class="usid"  valign="top">{{data.acceptance_criteria}}</td>
             <td align="left" class="usid"  valign="top"><div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.ac_readability_score}}" data-duration="1000" data-color=",#d35400"></div>
</div></td>

               <td align="left" class="usid"  valign="top">{{data.conversation}}</td>
              <td align="left" class="usid"  valign="top"><div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.convo_readability_score}}" data-duration="1000" data-color=",#d35400"></div>
</div></td>
              <td align="left" class="usid"  valign="top">{% if data.attachments == 'None' %}
                 {{data.attachments}}
                {% else %}
            {% for data1 in data.file_attachment.all %}

                <a class="document_name" target="_blank" href="{{data1.attachment.url}}"><img style="height: 36px; white-space: normal;
    word-break: break-all;" src='{% static "img/basic/images.png" %}'>{{data1.attachment}}

  <!-- {{data.attachments}} -->

</a>
{%endfor %}               
                {% endif %}</td>
              <td align="left" class="usid"  valign="top">{{data.autoscoring_on}}</td>
               <td align="left" class="usid"  valign="top">{{data.archive_indicator}}</td>
              <td align="left" class="usid"  valign="top"> <div class="col-md-1 mb20">
   <div class="cdev" data-percent="{{data.readiness_quality_score}}" data-duration="1000" data-color=",#d35400"></div>
</div></td>
              <td align="left" class="backpa"  valign="top">{{data.story_points}}</td> 
              <td align="left" class="backpa" id="user_status_val" valign="top">{{data.user_story_status}}</td> 
              <td align="left" class="backpa"  valign="top">{{data.ORG_id}}</td> 
              <td align="left" class="backpa" id="user_type_val"  valign="top">{{data.UST_ID}}</td> 
              <td align="left" class="backpa"  valign="top">{{data.ar_user}}</td> 
              <td align="left" class="backpa"  valign="top">{{data.created_by}}</td> 
              <td align="left" class="backpa"  valign="top">{{data.created_dt}}</td> 
              <td align="left" class="backpa"  valign="top">{{data.updated_by}}</td> 
              <td align="left" class="backpa"  valign="top">{{data.updated_dt}}</td> 
{% endif %}




                <td align="left" class="action" valign="top">
                <table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                   <tbody><tr>
                    <td align="center" valign="top"><a href="{{BASE_URL}}user-story-view/edit-story/{{data.id}}"><i class="icon-pencil"></i></a></td>
                    <td align="center" valign="top"><a href="javascript:;" onclick="remove_product('{{BASE_URL}}user-story-view/remove-user-story/{{data.id}}','{{Remove_Request_msg}}','{{Remove_done_msg}}','{{Not_Remove_msg}}');"><i class="icon-delete"></i></a><a></a></td>
                   </tr>
                </tbody></table>
                </td>
            </tr>
    {% endfor %}
            {% endif %}

        </tbody>
    </table></div>
                                     <!---Table Ends---->
</div>
                                    
                        
                      <!-- </div> -->
             </div>
              <!-- </div> -->
               </div>
             </div>
         </div>







    <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content" style="margin-top:60px;">
      <div class="modal-header">
    <h4 class="modal-title" style="width: 100%;">Choose User Story View </h4>
      <a href="{{BASE_URL}}user-story-view" class="close"><span aria-hidden="true" style="font-size: 32px; color: #000;">×</span></a>
        <!-- <button type="button" class="close" data-dismiss="modal" style="margin: 0; padding: 0 !important; color: #000 !important;">&times;</button> -->
      </div>
      <div class="modal-body ">

      <div class="container">
        <select id="selectDefaults" multiple="multiple">
           {% for k , v in all_column_list.items %}   
       
          {% if k not in get_show_column %}
           <option value="{{k}}" >{{v}}</option>

          {% endif %}


          {% endfor %}
          {% for selected_item in get_show_column %}
           <option value="{{selected_item}}" selected="true">{{ all_column_list|get_item:selected_item  }}</option>
           {% endfor %}
          
        </select>
      </div>
    </div>
      <div class="modal-footer">
        <a href="{{BASE_URL}}user-story-view" class="btn btn-default" >Close</a>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
        <button type="button" class="btn btn-danger click_to_submit">Submit</button>
      </div>
    </div>

  </div>
</div>
     
          
{% endblock %}




{% block script %}
<script src='{% static "js/jquery.lwMultiSelect.js" %}' ></script>
<script>
  $("td").click(function(e) {
    var chk = $(this).closest("td").find("input:checkbox").get(0);
    if(e.target != chk)
    {
        chk.checked = !chk.checked;
    }
});
</script>
<script type="text/javascript">
  function doSomething() {
    $(".se-pre-con").css("display","block");
}



  $(document).on("click","#create_user_story_copy",function(){
   var ids = new Array();

  $(".get_user_story_ids:checked").each(function(){
             
            ids.push(this.value); 
        });
 var urls = "{{BASE_URL}}user-story-view/create-copys/"; 
if(ids!="")
{
  swal({
      title: "{{Copy_Request_msg}}",
      // text: "Do you want to created copy of selected Storyes",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
       window.location.href = urls+ids;           
        // swal(done, {
        //   icon: "success",
        // });
      } else {
        swal(fail);
      }
    });
}
else
{
  swal("Warning", "{{Copy_Story_msg}}", "warning");
}


  });
</script>
<script>
$(document).ready(function() {
/*$('#selectDefaults').lwMultiSelect();*/
$('#selectDefaults').lwMultiSelect({
  addAllText:"Select All",
  removeAllText:"Remove All",
  selectedLabel:"Values accepted",
  maxSelect: 0,//0 = no restrictions
  maxText:'',
});
});

$(document).on("click",".click_to_submit",function(){
var urls = "{{BASE_URL}}user-story-view/update-table-structure/"; 
var names = new Array();
$(".lwms-right .lwms-selectli").each(function(){
  names.push($(this).data("value")); 
});

if(names=="")
{
  swal("Warning", "Select the Columns that you want to show in table!", "warning");
}
else{
  swal({
      title: "{{Rearrange_Request_msg}}",
      // text: "Do you want to update the table structure.",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
       window.location.href = urls+names;           
        // swal(done, {
        //   icon: "success",
        // });
      } else {
        swal(fail);
      }
    });
}


});

//=================================================JS FOR SET COLUMN IN DATABASE=============

function set_short_filter(set_filter="")
{
var setfilterURL = "";


// ================color Start================
var backlog_list = "";
var business_value_list = "";
var user_status_list = "";
var user_type_list = "";





if( document.getElementById("backlog_list") ){
backlog_list = document.getElementById("backlog_list").value;
}
if( document.getElementById("business_value_list") ){
business_value_list = document.getElementById("business_value_list").value;
}
if( document.getElementById("user_status_list") ){
user_status_list = document.getElementById("user_status_list").value;
}

if( document.getElementById("user_type_list") ){
user_type_list = document.getElementById("user_type_list").value;
}

// ================color End================

// --------------------------
if(backlog_list){  setfilterURL = setfilterURL+"&"+backlog_list; }
if(business_value_list){  setfilterURL = setfilterURL+"&"+business_value_list; }
if(user_status_list){  setfilterURL = setfilterURL+"&"+user_status_list; }
if(user_type_list){  setfilterURL = setfilterURL+"&"+user_type_list; }

// --------------------------


// ================color================



window.location.href = "?"+setfilterURL;
}

//=================================================JS FOR SET COLUMN IN DATABASE=============



function myFunction() {

  set_short_filter();

}
// -------------------------------------------------------
</script>

<!-- -------------------------- download start -->


<script type="text/javascript">

// ============================================================
  $(document).on("click",".export_data_btn",function(){
$("#modal-default123 #show_errors").html('');
var file_type = $(this).data("file_type");
var tables = new Array();
  tables.push("AR_USER_STORY"); 

  // ==========================================================


var backlog_list = "";
var business_value_list = "";
var user_status_list = "";
var user_type_list = "";





if( document.getElementById("backlog_list") ){
backlog_list = document.getElementById("backlog_list").value;
}
if( document.getElementById("business_value_list") ){
business_value_list = document.getElementById("business_value_list").value;
}
if( document.getElementById("user_status_list") ){
user_status_list = document.getElementById("user_status_list").value;
}

if( document.getElementById("user_type_list") ){
user_type_list = document.getElementById("user_type_list").value;
}


  var backlog_list = backlog_list.split('backlog-parent=').join('');
  var business_value_list = business_value_list.split('business-value=').join('');
  var user_status_list = user_status_list.split('user-status=').join('');
  var user_type_list = user_type_list.split('user-type=').join('');
  
  // alert(team_list);


 if(tables.join("") == "")
 { 
   $("#modal-default123 #show_errors").html('<div class="alert alert-danger"><strong>Warning!</strong> Please select at list one checkbox.</div>');
 }
 else
 {
    $("#show_hide_button").css("display","none");
    $("#modal-default123 #show_errors").html('<div class="alert alert-success">Please wait process is running <img src="{% static "img/basic/straight-loader.gif" %}"  style="width:30px;"/></div>');
   $.ajax({
    method:"POST",
    url:base_url+"user-story-view/get_data_from_database/",


    data:{'backlog_list':backlog_list,'business_value_list':business_value_list,'user_status_list':user_status_list,'user_type_list':user_type_list,'file_type':file_type,"tables":tables.join(",,")},
     dataType:"json",
     success:function(data)
     {
      if(data.status == "Done")
     {
        window.location.href = base_url+"data-exchange/file_download/"+data.id;
         $("#modal-default123 #show_errors").html('<div class="alert alert-success">Data export successfully.</div>');
     }
     }
   });
 }



  });
// ---------------------------------------------------------------
</script>
{% endblock %}
